#main{
    background-color:rgb(216, 211, 211);
    padding-left: 15px;
    padding-right: 15px;
  margin-top:10px;
  width: auto;
}
#title{
    text-align: center;
    padding: 30px;
}

#img-div > #image{
    width: 100%;
    height: auto; 
   align-items: center;
   position: relative;
   display: inline-block;
   overflow: hidden;
   max-width:calc();
}

#img-div{
    background-color:white;
}

#img-div > #img-caption{
    text-align: center;
    padding: 10px;
}
img{
    align-items: center;
}

#main > #center-history{
    margin-left: 200px;
    margin-right: 200px;
}