#main{
    background-color:rgb(216, 211, 211);
    padding-left: 15px;
    padding-right: 15px;
  margin-top:10px;
}
#title{
    text-align: center;
    padding: 30px;
}

#img-div > #image{
    width: 100%;
    position: relative;
}

#img-div{
    background-color:white;
}

#img-div > #img-caption{
    text-align: center;
    padding: 5px;
}